*{margin:0;padding:0;box-sizing:border-box}

body{
  min-height:100vh;
  background:radial-gradient(circle,#222,#000);
  color:#fff;
  font-family:Arial;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

h1{margin-bottom:10px}

.info{
  display:flex;
  gap:20px;
  margin-bottom:10px;
}

#game-container{
  border:6px solid orange;
  background:black;
}

.buttons{
  margin-top:10px;
}

.buttons button{
  padding:8px 14px;
  margin:5px;
  border:none;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
}

.buttons button:first-child{background:#00c853}
.buttons button:last-child{background:#ff5252}

.controls{
  margin-top:15px;
  text-align:center;
}

.controls button{
  background:orange;
  font-size:22px;
  padding:12px 18px;
  margin:6px;
  border:none;
  border-radius:10px;
}

.middle{
  display:flex;
  justify-content:center;
}
